a {
    color: #C0C0C0;
}
a:visited {
    color: #C0C0C0;
}
a:active {
    color: #C0C0C0;
}
a:hover {
    color: #C0C0C0;
}
body{
    background-image:url(hatter.png);
    background-color: #000000;
    color:#000000;
}
table{
    width: 1000;
    text-align: left;
    border: 0;
}
p{
    color: white;
}
td{
    border: 1;
}