body{
    background-color: #ddffdd;
    color:#002200; 
}
h1
	{
		text-align: center;		
	}
p	{
		line-height: 20%;
    margin-left: 100px;    
	}
li{
    font-weight: bold;
}
#jobbra{
   float: right;
  text-align: center;   
}
#jobbra img{
    width: 100px;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}
#terkep{
    text-align: center;
}
div#kozep{
  margin: 0 auto 0 auto;
   width: 800px;
}